//
// Grid
//
.container {
  @include make-container;
  @include make-container-max-widths();

    .container {
      padding-left: 0;
      padding-right: 0;
    }
}

.container-fluid {
  @include make-container;
  max-width: $container-width-fluid;
}

@include make-grid-system();
