%hide-field {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  appearance: none;
}

/* sass-lint:disable no-vendor-prefixes */
.#{$input-prefix} {
  display: block;
  width: 100%;
  padding: $input-padding-y $input-padding-x;
  height: $input-height;
  font-family: $input-font-family;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width $inpit-border-style $input-border-color;
  border-radius: $input-border-raidus;
  box-shadow: $input-box-shadow;
  transition: $input-transition;

    &::placeholder {
      color: $input-placeholder-color;
      opacity: 1;
    }

    &::-ms-expand {
      background-color: transparent;
      border: none;
    }

    &::-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 $input-color;
    }

    &:disabled,
    &[readonly] {
      background-color: $input-disabled-bg;
      opacity: 1;
    }

    &[hidden] {
      @extend %hide-field;
    }

    @at-root select#{&} {
      appearance: none;
      padding-right: 20px;
      background: $input-bg $select-arrow no-repeat calc(100% - #{$select-arrow-space}) center;

        &:focus::-ms-value {
          color: $input-color;
          background-color: $input-bg;
        }
    }

    @at-root textarea#{&} {
      height: 190px;
      padding-top: 17px;
    }

    &-hide {
      @extend %hide-field;
    }

    &_checkbox {

        .active & {
          display: block;
        }

        &:not(:last-child) {
          margin-bottom: 15px;
        }

        &__text {
          line-height: 16px;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 15px;
              height: 15px;
              border: 1px solid $primary;
              background-color: $light-variant;
              border-radius: 3px;
            }

            input:checked + &::before {
              background: $primary url('#{$images-icons}input-checkbox-white.svg') center no-repeat;
            }
        }
    }
}
