.tooltip {
  @extend .ps-r, .d-ib, .va-m;
  font-size: 0;
  width: 8px;
  height: 8px;

    &__inner {
      @extend .d-n, .ps-a, .p-5, .bg-sv, .tc-dv;
      left: -5px;
      bottom: 100%;
      margin-bottom: 5px;
      width: 120px;
      font-size: 8px;
      line-height: (12 / 8);

        &::before {
          @extend .ps-a;
          content: '';
          left: 4px;
          top: 92%;
          width: 9px;
          height: 9px;
          transform: rotate(45deg);
          background: inherit;
        }
    }

    &:hover {

        .tooltip__inner {
          @extend .d-b;
        }
    }
}
