//
// Buttons
//
@mixin make-btn-colors($colors: $btn-colors, $hover-colors: $btn-hover-colors) {
  @each $key, $value in $colors {
    .#{$btn-prefix}--#{$key} {
      color: color-yiq(value);
      background-color: $value;

        &:hover {
          color: color-yiq(map-get($hover-colors, $key));
          background-color: map-get($hover-colors, $key);
        }
    }
  }
}

@mixin make-btn-ghost($colors: $btn-colors, $hover-colors: $btn-hover-colors) {
  @each $key, $value in $colors {
    .#{$btn-prefix}-g--#{$key} {
      color: color-yiq(value);
      border-color: $value;

        &:hover {
          color: color-yiq(map-get($hover-colors, $key));
          border-color: map-get($hover-colors, $key);
          background-color: map-get($hover-colors, $key);
        }
    }
  }
}
