html:root {

    @include media-breakpoint-down(md) {
      margin-top: 0 !important;
    }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: $color-3;
}

::-webkit-scrollbar-thumb {
  background: $color-1;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-2;
}

#wpadminbar {

    @include media-breakpoint-down(md) {
      display: none;
    }
}

.screen-reader-text {
  @extend .d-n;
}
