/* sass-lint:disable no-vendor-prefixes */

.#{$input-prefix} {
  display: block;
  width: 100%;
  padding: $input-padding-y $input-padding-x;
  height: $input-height;
  font-family: $input-font-family;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width $input-border-style $input-border-color;
  border-radius: $input-border-raidus;
  box-shadow: $input-box-shadow;
  transition: $input-transition;

    &:focus {
      color: $input-focus-color;
      border: $input-focus-border-width $input-focus-border-style $input-focus-border-color;
      background-color: $input-focus-bg;
      box-shadow: $input-focus-box-shadow;

        &::placeholder {
          color: $input-focus-color;
        }
    }

    &::placeholder {
      color: $input-placeholder-color;
      opacity: 1;
      text-transform: $input-placeholder-text-transform;
    }

    &::-ms-expand {
      background-color: transparent;
      border: none;
    }

    &::-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 $input-color;
    }

    &:disabled,
    &[readonly] {
      background-color: $input-disabled-bg;
      opacity: 1;
    }

    @at-root select#{&} {
      appearance: none;
      padding-right: 30px;
      background: $input-bg $select-arrow no-repeat calc(100% - #{$select-arrow-space}) center;

        &:focus::-ms-value {
          color: $input-color;
          background-color: $input-bg;
        }
    }

    @at-root textarea#{&} {
      height: $textarea-height;
    }
}
