//
// Figures
//
figure {
  @extend %reset-margin;
}

img {
  vertical-align: baseline;
  border-style: none; // Remove the border on images inside links in IE 10-.
}

svg {
  overflow: hidden;
  vertical-align: baseline;
}
