//
// Buttons
//
$btn-prefix: 'btn';
$btn-height-desktop: 50px;
$btn-height-mobile: 44px;
$btn-padding-y: 0;
$btn-padding-x: 20px;
$btn-font-size-desktop: 16px;
$btn-font-size-mobile: 12px;
$btn-line-height: null;
$btn-border-radius: 25px;

$btn-font-family: null;
$btn-font-weight: $font-weight-semibold;
$btn-font-weight-sm: $font-weight-medium;
$btn-color: $link-color;
$btn-hover-color: $link-hover-color;
$btn-decoration: if($link-decoration == none, null, none);
$btn-hover-decoration: none;
$btn-white-space: nowrap;
$btn-border-width: null; // 1px
$btn-border-style: null; // Solid
$btn-border-color: null; // transparent

$btn-transition: 250ms ease-in-out;

$btn-disabled-opacity: .5;

$btn-colors: map-merge((
), $theme-colors);

$btn-hover-colors: map-merge((
), $theme-hover-colors);
