$black: #000;
$white: #fff;

$yiq-text-dark: $black;
$yiq-text-light: $white;
$yiq-contrasted-threshold: 150;

$primary: var(--primary);
$primary-hover: var(--primary-hover);
$primary-variant: var(--primary-variant);
$primary-variant-hover: var(--primary-variant-hover);
$secondary: var(--secondary);
$secondary-variant: var(--secondary-variant);
$secondary-hover: var(--secondary-hover);
$secondary-variant-hover: var(--secondary-varinat-hover);
$dark: var(--dark);
$dark-hover: var(--dark-hover);
$dark-variant: var(--dark-variant);
$dark-variant-hover: var(--dark-variant-hover);
$light: var(--light);
$light-hover: var(--light-hover);
$light-variant: var(--light-variant);
$light-variant-hover: var(--light-variant-hover);

$text-color: var(--text-color);
$link-color: var(--link-color);
$link-hover-color: var(--link-hover-color);
$headings-color: var(--headings-color);

$body-color: $text-color;
$body-bg: $white;

$theme-colors: (
  'p': $primary,
  'pv': $primary-variant,
  's': $secondary,
  'sv': $secondary-variant,
  'd': $dark,
  'dv': $dark-variant,
  'l': $light,
  'lv': $light-variant,
);

$theme-hover-colors: (
  'p': $primary-hover,
  'pv': $primary-variant-hover,
  's': $secondary-hover,
  'sv': $secondary-variant-hover,
  'd': $dark-hover,
  'dv': $dark-variant-hover,
  'l': $light-hover,
  'lv': $light-variant-hover,
);
