//
// Displays
//
$display-prefix: 'd';
$displays: (
  'i': inline,
  'ib': inline-block,
  'b': block,
  't': table,
  'tr': table-row,
  'tc': table-cell,
  'f': flex,
  'if': inline-flex,
  'n': none,
);

