//
// Forms
//
$input-prefix: 'field';
$input-height: 36px;
$input-height-lg: 50px;
$input-padding-y: 0;
$input-padding-x: 15px;
$input-font-family: inherit;
$input-font-size: 14px;
$input-font-weight: $font-weight-light;
$input-line-height: 1.25;

$input-color: $text-color;
$input-border-width: 1px;
$inpit-border-style: solid;
$input-border-color: $primary;
$input-box-shadow: null;
$input-border-raidus: 18px;
$input-border-raidus-lg: 25px;
$input-bg: $white;
$input-disabled-bg: theme-color('light');

$input-transition: null;

$input-placeholder-color: $dark;

$select-arrow: url('#{$images-icons}select-arrows.svg');
$select-arrow-space: 10px;
