//
// Links
//

$link-decoration: none;
$link-hover-decoration: underline;

$headings-link-color: inherit;
$headings-link-decoration: none;
$headings-hover-color: $link-hover-color;
$headings-link-hover-decoration: $link-hover-decoration;
