//
// Images Path
//
$images: '../images/';
$images-arrows: '#{$images}arrows/';
$images-background: '#{$images}backgrounds/';
$images-buttons: '#{$images}buttons/';
$images-examples: '#{$images}examples/';
$images-icons: '#{$images}icons/';
$images-img: '#{$images}img/';
$images-logos: '#{$images}logos/';
$images-separetor: '#{$images}separetors/';
$images-shadows: '#{$images}shadows/';
$images-sprites: '#{$images}sprites/';
$images-svg: '#{$images}svg/';
