//
// Text
//

// Text Colors
$text-color-prefix: 'tc';
$text-colors: map-merge((
  'w': $white,
  'b': $black,
  'in': inherit
),
$theme-colors);

$bg-hover-colors: map-merge((
  'w': darken($white, 10%),
  'b': $primary
),
$theme-hover-colors);

// Text Align
$text-align-prefix: 'ta';
$text-aligns: (
  'l': left,
  'c': center,
  'r': right,
  'j': justify
);

// Text Transform
$text-transform-prefix: 'tt';
$text-transforms: (
  'l': lowercase,
  'u': uppercase,
  'c': capitalize
);

// Text Decaration
$text-decoration-prefix: 'td';
$text-decorations: (
  'n': none,
  'u': underline,
);

// Font Styles
$font-size-prefix: 'fs';
$font-sizes: (
  'b': $font-family-base,
  '0': 0,
  '10': 10px,
  '12': 12px,
  '14': 14px,
  '16': 16px,
  '18': 18px,
  '20': 20px,
);


// Font Weights
$font-weight-prefix: 'fw';
$font-weights: (
  'l': $font-weight-light,
  'n': $font-weight-normal,
  'm': $font-weight-medium,
  'sb': $font-weight-semibold,
  'b': $font-weight-bold,
  'bl': $font-weight-black
);

// Font Styles
$font-style-prefix: 'fst';
$font-styles: (
  'i': italic
);
